
obj/x86/Debug/StupidAivGame.csproj.FilesWrittenAbsolute.txt

obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

obj/x86/Debug/StupidAivGame.exe

obj/x86/Debug/StupidAivGame.exe.mdb

bin/Debug/aivengine.dll

bin/Debug/StupidAivGame.exe

bin/Debug/StupidAivGame.exe.mdb
obj/x86/Debug/Futuridium.csproj.FileListAbsolute.txt
*.pdb
obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
*.cache
obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
