
obj/x86/Debug/StupidAivGame.csproj.FilesWrittenAbsolute.txt

obj/x86/Debug/.NETFramework,Version=v4.5.AssemblyAttribute.cs

obj/x86/Debug/StupidAivGame.exe

obj/x86/Debug/StupidAivGame.exe.mdb

bin/Debug/aivengine.dll

bin/Debug/StupidAivGame.exe

bin/Debug/StupidAivGame.exe.mdb
